.image img{
    width: 100%;
}
.detail-container{
    margin-top:50px;
}
.information{
    padding-top:50px;
}
.plus-minus{
    width:100px;
    border: 1px solid gray;
    border-radius:50px;
    margin-left: 50px;
}
.p-m{
    margin-left:15px;
    cursor: pointer;
}
.amount{
    padding-top: 5px;
}